<main class="container">

  <% if @fib_num.errors.any? %>
    <div class="form-errors">
      <ul>
        <% for message in @fib_num.errors.full_messages %>
          <li class="form-error-message"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="number-panel">
  <%= form_with model: @fib_num do |form| %>
    <%= form.label 'Enter a number here' %>
    <%= form.number_field :input_number, class: 'form-control' %>
    <%= form.button 'RUN', class: 'btn btn-outline-success', remote: true %>
  <% end %>
    <%= render 'fibonacci_numbers/fib_num_output' %>
  </div>
</main>
